body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #f4f6f9;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #0d1b2a;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #0073e6, #00c6ff);
    color: white;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: #0073e6;
    cursor: pointer;
}

/* Sections */
section {
    padding: 50px 20px;
    text-align: center;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Skills */
.skills span {
    display: inline-block;
    background: #0073e6;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #0d1b2a;
    color: white;
    padding: 15px;
}
